@page "/books/{id}"
@using Bookstore.Domain.Common;

@model BookDetailsModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-striped">
        <thead>
            <th scope="col" colspan="2" style="text-align: left">@Model.Book.Title</th>
        </thead>
        <tbody>
            @{ 
                string[] authors = Model.Book.Authors
                    .Select(a => string.IsNullOrEmpty(a.LastName) ? a.FirstName : $"{a.FirstName} {a.LastName}")
                    .ToArray();
                string authorsLabel = authors.Length > 1 ? "Authors" : "Author";
            }
            @if (authors.Length > 0)
            {
                <tr>
                    <th scope="col" rowspan="@authors.Length" style="text-align: right">@authorsLabel</th>
                    <td style="text-align: left">@authors[0]</td>
                </tr>
            }
            @foreach (var author in authors.Skip(1))
            {
                <tr>
                    <td style="text-align: left">@author</td>
                </tr>
            }
            @foreach (var priceLine in Model.PriceSpecification.Take(Model.PriceSpecification.Count - 1))
            {
                <tr class="table-warning">
                    <th scope="col" style="text-align: right">@priceLine.Label</th>
                    <td style="text-align: left">@priceLine.Amount</td>
                </tr>
            }
        </tbody>
        @if (Model.PriceSpecification.Count > 0)
        {
            <tfoot>
                <tr class="table-primary">
                    <th scope="col" style="text-align: right">@Model.PriceSpecification[^1].Label</th>
                    <td style="text-align: left">@Model.PriceSpecification[^1].Amount</td>
                </tr>
            </tfoot>
        }
    </table>
</div>
