@page
@model InvoicesModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <table class="table">
        <thead>
            <th>#</th>
            <th>Issued to</th>
            <th>Issue date</th>
            <th style="text-align: right">Status</th>
            <th style="text-align: right">Total amount</th>
        </thead>
        <tbody>
            @foreach (var row in Model.Invoices)
            {
                <tr class="invoice-@row.Style">
                    <td>@row.Ordinal</td>
                    <td>@row.Label</td>
                    <td>@row.IssueDate</td>
                    <td style="text-align: right">@row.Status</td>
                    <td style="text-align: right">@row.Total</td>
                </tr>
            }
        </tbody>
    </table>
</div>